[Desktop Entry]
Name=Ardentryst
Categories=Game;RolePlaying
Comment=Fantasy sidescroller game
Exec=/usr/games/ardentryst
Terminal=false
Icon=/usr/share/pixmaps/ardentryst.png
Type=Application
Keywords=RPG;Fantasy;Sidescroller
